<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">

    <script type="text/javascript">
      var sHost     = window.location.host;
      var sProtocol = window.location.protocol;
      var API_URL = sProtocol+'//'+sHost+'/api';
      function submitRequest() {
        var userId = $.trim($('#userId').val());

        if(userId == '') {
          alert("Please enter UserID");
          return false;
        }
        // make ajax call
        $.ajax({
          url  : API_URL+'/user/requestCab',
          contentType: "application/json",
          data : JSON.stringify({
            "userId"    : userId
          }),
          type : 'POST',
          success : function(response) {

            var alertText = `${response.msg}. Your requestId is ${response.requestId}.`;
            alert(alertText);
          },
          error: function(err) {
            var eCode   =   err.responseJSON.code;
            var eText   =   err.responseJSON.msg;
            // error
            if(eCode != 0) {
              alert(eText);
              return;
            }
          }
        });

        return false;
      }

      function createUser() {
        var requiredParam = ['name', 'email', 'password', 'confirmPass', 'mobile'];
        for(let i = 0; i < requiredParam.length; i++) {
          var tmp = $.trim($('#'+ requiredParam[i]).val());
          if(tmp == '') {
            alert("Please enter " + requiredParam[i]);
            return false;
          }
        }

        var name      = $.trim($('#name').val());
        var email     = $.trim($('#email').val());
        var password  = $.trim($('#password').val());
        var confirmPass  = $.trim($('#confirmPass').val());
        var mobile    = $.trim($('#mobile').val());

        if(password !== confirmPass) {
          alert("Password and confirm password do not match");
          return false;
        }
        console.log('hererere');
        //ALL SET CREATE USER
        // make ajax call
        $.ajax({
          url  : API_URL+'/user/register',
          contentType: "application/json",
          data : JSON.stringify({
            name,
            email,
            password,
            confirmPass,
            mobile
          }),
          type : 'POST',
          success : function(response) {

            var alertText = `${response.msg}. Your userId is ${response.userId}.`;
            alert(alertText);
          },
          error: function(err) {
            var eCode   =   err.responseJSON.code;
            var eText   =   err.responseJSON.msg;
            // error
            if(eCode != 0) {
              alert(eText);
              return;
            }
          }
        });

        return false;
      }
    </script>
</head>

<body>
    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Cab Booking
                    </a>
                </li>
                <li>
                    <a href="index.html">User</a>
                </li>
                <li>
                    <a href="../index.html">Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card mt-3 tab-card">
                  <div class="card-header tab-card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Create Request</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Create User</a>
                      </li>
                    </ul>
                  </div>

                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                        <form id="createRequest" class="" method="post" onsubmit="return submitRequest();">
                          <h5 class="card-title">Create New Request</h5>
                          <p class="card-text">User Id :- <input type="text" id="userId"></input></p>

                          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
                          <!-- <a href="#" class="btn btn-primary">Submit</a> -->
                          </form>
                    </div>
                    <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                        <div class="box-body">
                            <h5 class="card-title">New User Registration</h5>
                            <form id="createUser" class="" method="post" onsubmit="return createUser();">
                                <div class="form-group">
                                  <label for="myName">Name *</label>
                                  <input id="name" name="myName" class="form-control" type="text" data-validation="required" required>
                                  <span id="error_name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                  <label for="email">Email *</label>
                                  <input id="email" name="email" class="form-control" type="email" data-validation="email" required>
                                  <span id="error_email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                  <label for="password">Passowrd *</label>
                                  <input id="password" name="password"  class="form-control" type="password" min="1"  required>
                                  <span id="error_password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                  <label for="confimPass">Confirm Passowrd *</label>
                                  <input type="password" name="confimPass" id="confirmPass" class="form-control" required>
                                  <span id="error_confimPass" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                  <label for="phone">Mobile *</label>
                                  <input type="number" id="mobile" name="phone" class="form-control"  required>
                                  <span id="error_phone" class="text-danger"></span>
                                </div>
                                <button type="submit" value="submit" class="btn btn-primary center">Submit</button>
                              </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    </script>

</body>

</html>
